<header>
    <app-menu></app-menu>
</header>

<app-menu-titulo></app-menu-titulo>
<div class="artigos">
    <div class="artigos-main">
        <app-card-grande fotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSupvsCqED8upqVkLYxXgMX1FqIOzC0Ys8z_A&s"
        cardTitulo="NOVO HOMEM DE FERRO"
        cardDescricao="Filme novo da Marvel faz sucesso na bilheteria"
        ></app-card-grande>
    </div>

    <div class="artigos-pequeno">
        <app-card-pequeno
            fotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5mdC_3Tyva4EO1hj9_WHGJQeOCvwqC20kxw&s"
            cardTitulo="Filmes de Terror que fazem sucesso"
        ></app-card-pequeno>

        <app-card-pequeno
            fotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShw45UGxshp10A0EEA5PPRRcFNIfCD8isB7Q&s"
            cardTitulo="Melhores filmes para ver em familia"
        ></app-card-pequeno>

        <app-card-pequeno
            fotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSupvsCqED8upqVkLYxXgMX1FqIOzC0Ys8z_A&s"
            cardTitulo="Novidade da semana no cinema"
        ></app-card-pequeno>
    </div>
</div>
